.c-App
  text-align: center
  height: 100%;
  background-color: #e1e2e4;
  min-height: 100vh;
  color: rgba(0,0,0,.85);
  @media all and (min-width: 48em)
    text-align: left;
  &__container
    max-width: 1200px
    margin: 0 auto
    padding: 20px 0;
    @media all and (min-width: 48em)
      padding: 20px;
  &__title
    font-size: 1.5rem;
