.c-App {
  height: 100%;
  background-color: #1B98E0;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.85); }
  @media all and (min-width: 48em) {
    .c-App {
      text-align: left; } }
  .c-App__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px; }
    @media all and (min-width: 48em) {
      .c-App__container {
        padding: 20px; } }
  .c-App__title {
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 400; }

.c-dial-code.ui.search.dropdown {
  min-width: 65px; }
