.c-App {
  height: 100%;
  background-color: #e1e2e4;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.85); }
  .c-App__container {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto; }
    @media all and (min-width: 48em) {
      .c-App__container {
        padding: 20px; } }
  .c-App__title {
    font-size: 1.5rem; }
